body {
  margin: auto;
  background: lightslategrey;
  color: brown;
  bottom: 70px;
}

header {
  background: darkcyan;
  font-family: cursive, 'Times New Roman';
  color: white;
  width: 100%;
  font-size: 55px;
  text-align: right;
}

main {

  .table_section {
    position: absolute;
    top: 550px;
    left: 150px;

    #cleaner {
      position: relative;
      margin: 20px;
      left: 350px;

      input {
        color: whitesmoke;
        background: dimgrey;
        width: 170px;
        height: 40px;
      }
    }

    #table {
      position: relative;
      top: 10px;
      left: 40px;
      width: 900px;
      border: 1px solid black;

      tr:first-of-type {
        background: cadetblue;
      }

      td, th {
        padding: 3px;
      }
    }
  }

  .user_input {
    svg {
      stroke: rgba(175, 175, 175, 0.92);
      fill: rgba(175, 175, 175, 0.92);
      position: absolute;
      left: 200px;
      top: 150px;
    }

    .form {
      position: absolute;
      top: 150px;
      left: 650px;
      width: 500px;
      height: 350px;
      background: rgba(25, 25, 25, 0.83);
      border-radius: 15px 15px 15px 15px;
    }

    .Y_value {
      margin: 16px;
      position: relative;
      top: 15px;
      left: 130px;

      #Y_value {
        width: 145px;
      }
    }

    .X_value {
      margin: 16px;
      position: relative;
      top: 15px;
      left: 130px;

      #X_value {
        width: 153px;
      }
    }

    .R_value {
      margin: 16px;
      position: relative;
      top: 15px;
      left: 130px;

      #R_value {
        width: 153px;
      }
    }

    .Error_text {
      margin: 15px;
      position: relative;
      top: 30px;
      text-align: center;
      display: flex;
      flex-direction: column;
      color: red;
      font-size: 20px;

      span {
        margin: 4px;
      }
    }

    .buttons {
      position: absolute;
      left: 100px;
      top: 270px;

      #submit {
        color: whitesmoke;
        background: rgba(49, 49, 49, 0.83);
        width: 150px;
        height: 30px;
      }

      #reset {
        color: whitesmoke;
        background: rgba(49, 49, 49, 0.83);
        width: 150px;
        height: 30px;
      }
    }
  }
}

@media screen and (max-width: 1024px){
  header {
    max-height: 50px;
    font-size: 30px;
  }
  main {
    .user_input .form {
      position: relative;
      left: 150px;
      top: 400px
    }

    .table_section {
      position: relative;
      top: 450px;
      left: 10px;
      #table {
        width: 700px;
      }
      #cleaner {
        left: 275px;
      }
    }
  }
}