main .table_section {
    position: absolute;
    top: 550px;
    left: 150px;
}

main .table_section #cleaner {
    position: relative;
    margin: 20px;
    left: 350px;
}

main .table_section #cleaner input {
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.83);
    width: 170px;
    height: 40px;
}

main .table_section #table {
    position: relative;
    top: 10px;
    left: 40px;
    width: 900px;
    border: 1px solid black;
}

#table tr:first-of-type {
    background: rgba(0, 0, 0, 0.83);
}

#table td, th {
    padding: 3px;
}